In [1]:
from datafusionsm.datasets import load_online_survey, load_tv_panel

In [4]:
online_survey = load_online_survey()
tv_panel = load_tv_panel()

linking = online_survey.columns.intersection(tv_panel.columns).tolist()

critical_cells = ["age", "gender"]
target = "income"

tv_panel[linking].head()

     age gender children  marital
0  45-64      M        0  married
1  45-64      F        0  married
2  35-44      F        2  married
3  35-44      M        2  married
4  45-64      F        0  married

In [10]:
from datafusionsm.implicit_model import PIM

pim = PIM(target)

pim.fit(online_survey, tv_panel, linking=linking, critical=critical_cells)
fused_pim = pim.transform(online_survey, tv_panel)

fused_pim[["panelist-id"] + linking + [target]].head()

   panelist-id    age gender children marital      income
0        31539  45-64      M        0  single  Bottom 25%
1        43764  45-64      M        0  single     Top 25%
2        35836  45-64      M        0  single     Mid 50%
3        65011  45-64      M        0  single     Mid 50%
4        62597  45-64      M        0  single     Top 25%

In [13]:
from datafusionsm.evaluation import compare_dists

measured_inc = online_survey["income"].value_counts() / online_survey.shape[0]
fused_pim_inc = fused_pim["income"].value_counts() / fused_pim.shape[0]

compare_dists(measured_inc, fused_pim_inc)

KL-Divergence               0.001472
Hellinger Distance          0.019067
Total Variation Distance    0.022917
Overlap                     0.977083
dtype: float64